includes:
  # We consider that the extension file is stored by default in the project folder test/phpstan
  - ../../vendor/prestashop/php-dev-tools/phpstan/extension.neon
    
parameters:
  reportUnmatchedIgnoredErrors: false
  level: max
